html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------------------------------------------- */


body {
    background: linear-gradient(90deg, #443540, #553e7b, #79424d, #ab4b7e, #bb433b);
    font-size: 16px;
    color: #fff;
    font-family: 'pp_neue_machinaplain_regular', sans-serif;
}

#landing-page {
    height: 100vh;
}

#landing-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "logo logo"
        "flex-item video";
    width: 80%;
    padding: 10%;
}

#landing-flex {
    grid-area: flex-item;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#brand-logo {
    width: 2.5rem;
    filter: invert(94%) sepia(0%) saturate(23%) hue-rotate(352deg) brightness(105%) contrast(105%);
    padding: 1em 0;
}

#brand-title {
    text-transform: uppercase;
    font-size: 3.5rem;
    font-family: 'pp_neue_machinaplain_light';
}

#brand-subtitle {
    font-family: 'pp_neue_machinaplain_light';
    text-transform: uppercase;
}

#nav-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    padding-top: 2.5rem;
}

.button-link {
    width: 11.5em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: 0.5px solid #fff;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.button-link span::before {
    content: "";
    margin: 0;
    transition: margin 0.3s ease-in-out;
}

.button-link:hover span::before {
    margin: 0.3em;
}

.fa-chevron-right {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}

.button-link:hover .fa-chevron-right {
    transform: translateX(-0.5em)
}

#landing-video {
    width: 400px;
    grid-area: video;
    justify-self: center;
}